name: Python package

on:
- push
- pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.10'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - id: fmt_and_lint
      run: |
        pip install black==19.3b0 pylama
        black --check --diff .
        pylama packet test setup.py

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - 2.7
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        - '3.10'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade setuptools pip wheel
        pip install tox tox-gh-actions
    - name: Test with tox
      run: |
        tox
        find . # TODO: remove this
    # - name: Upload coverage.xml
    #   if: ${{ matrix.python-version == '3.10' }}
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: tox-gh-actions-coverage
    #     path: coverage.xml
    #     if-no-files-found: error
    - uses: codecov/codecov-action@v2
      if: ${{ matrix.python-version == '3.10' }}
      with:
        flags: unittests # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)
